body{
    background-image: linear-gradient( to bottom right, #550bec, #a12626);
}

.video{
    width: 1270px;
    height: 900px;
    float: left;
    margin: 5px;
    padding: 20px;
}

.video iframe{
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.button{
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    background: #ffffff46;
    border: solid  white ;
    border-radius: 8px;
    width: 100px;
}